body {
    background: #5c8dc7;
}

h1 {
    text-align: left;
    margin-left: 200px;
}
  
.parrafo-bienvenida {
    font-size: 20px;
    text-align: left;
    margin-left: 200px;
}

.input_usuario {
    text-align: right;
    margin-right: 100px;
}

.cajas_input {
    margin: 10px;
}

#button-login {
    text-align: center;
    padding-left: 35px;
    display: inline-block;
    
}

.usuario-button{
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

.imagenes{
    padding: 800px;
}
  