<body>
  <header>
    <h1>Fut Alert</h1>
    <p class="parrafo-bienvenida">
        Bienvenido. Aquí podras ver información de los equipos de la LigaMX y la tabla general
        del torneo.
    </p>

    <div class="input_usuario">
      <input type="text" id="username_input" placeholder="Usuario">
      <button class="usuario-button">Login</button>
    </div>
    <div class="input_usuario">
      <input type="text" id="password_input" placeholder="Password">
      <button class="usuario-button">Regístrate</button>
    </div> 

  </header>
</body>

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="configuracion">Configuracion</a></li>
  <li><a routerLink="caliente">Caliente.mx</a></li>
</ul>

<app-home></app-home>

<router-outlet></router-outlet>
