<header>
		<div class="row">
				<div class="column">
						<h1>Fut Alert</h1>
						<p class="parrafo-bienvenida">
								¡Bienvenido!
						</p>
				</div>
				<div class="column">
						<div class="input_usuario">
								<input class="cajas_input" type="text" id="username_input" placeholder="Usuario">
								<button id="button-login" class="usuario-button">Login</button>
						</div>
						<div class="input_usuario">
								<input class="cajas_input" type="text" id="password_input" placeholder="Password">
								<a routerLink="/registro"> <button class="usuario-button">Regístrate</button> </a>
						</div>
				</div>
		</div>
</header>
<ul>
	<li> <a routerLink=""> Home </a> </li>
	<li> <a routerLink="configuracion"> Configuración </a> </li>
	<li><a routerLink="caliente">Caliente.mx</a></li>
</ul>

<router-outlet></router-outlet>
