.cajas_registro {
    margin: 10px;
}

#atras_boton {
    text-align: left;
    margin-left: 30px;
}

.usuario-button{
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

.check_class {
    margin: 20px;
}