<body>
    <h2 id="atras_boton"><a routerLink="">Atrás</a></h2>
    <h2>Regístrate gratis</h2>
    <div class="cajas_registro">
        <input type="text" id="username_input_regis" placeholder="Usuario">
    </div>
    <div class="cajas_registro">
        <input type="text" id="password_regis" placeholder="Password">
    </div>
    <div class="cajas_registro">
        <input type="text" id="repPass_input_regis" placeholder="Repite tu password">
    </div>
    <div class="cajas_registro">
        <input type="text" id="email_input_regis" placeholder="E-mail">
    </div>    
    <div class="check_class">
        <input type="checkbox" id="noRobot_input_regis" name="checkRobot" value="robot">
        <label for="checkRobot"> No soy un robot</label>
    </div>
    
    <button class="usuario-button">Registrarme</button>

</body>